body {
    overflow-y: auto;
    min-height: 100vh;
}

.top-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    align-items: center;
    gap: 10px;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keywords {
    width: 250px;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #aaaaaa; 
    font-family: "Roboto", sans-serif;
}

.button {
    padding: 8px 15px;
    font-family: "Roboto", sans-serif;
    background-color: #4285F4;
    color: white;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    font-size: 13px;
}

.button:hover {
    background-color: #5093fe;
    cursor: pointer;
}

.button:active {
    background-color: #4285F4;
    font-weight: bold;
}

.sign-in.button, .welcome {
    margin-left: auto;
}

.logo {
    height: 200px;
}

h1, td, p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h1{
    font-size: 20px;
}

.tables-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

table {
    width: 75%;
    margin-bottom: 25px;
    border-radius: 6px;
    overflow: hidden;
}

.table{
    display: flex;
    flex-direction: column;
    align-items: center;
}
